<article class="pizzeria-menu__item">
  <div class="pizzeria-menu__item-image">
    <%= image_tag("pizzas/#{meal.title}.webp", alt: "#{meal.title} Pizza") rescue image_tag("pizzas/12.webp", alt: 'Placeholder image') %>
  </div>
  <div class="pizzeria-menu__item-description">
    <p class="pizzeria-menu__item-ingredients">
      <%= meal.ingredients.join(", ") %>
    </p>
    <p class="pizzeria-menu__item-title"><%= meal.title %></p>
    <% if user_signed_in? %>
      <% cart = current_user.cart %>
    <% else %>
      <% cart = Cart.find_or_create_by(id: session[:cart_id]) %>
      <% session[:cart_id] = cart.id unless session[:cart_id] %>
    <% end %>
    <% if cart.cart_items.find_by(meal_id: meal.id) %>
      <% item = cart.cart_items.find_by(meal_id: meal.id) %>
    <% else %>
      <% item = cart.cart_items.build(meal_id: meal.id, quantity: 0) %>
    <% end %>
    <div class="counter">
      <% if item.quantity == 1 %>
        <%= link_to cart_item_path(item), data: { turbo_method: :delete }  do %>
          <button type="submit" class="counter__button decrease" id="decrease"><i class="fas fa-caret-left" aria-label="decrease"></i></button>
        <% end %>
      <% elsif item.quantity > 1 %>
        <%= form_with model: item, url: cart_item_path(item), data: { turbo_method: :patch } do |form| %>
          <%= form.hidden_field :meal_id, value: item.meal.id %>
          <%= form.hidden_field :quantity, value: (item.quantity - 1) %>
          <%= form.button type: 'submit', name: nil, class: "counter__button decrease", id: "decrease" do %>
            <i class="fas fa-caret-left" aria-label="decrease"></i>
          <% end %>
        <% end %>
      <% else %>
        <button type="button" class="counter__button decrease" id="decrease"><i class="fas fa-caret-left" aria-label="decrease"></i></button>
      <% end %>
      <div class="counter__display count" id="count" aria-label="product quantity"><%= item.quantity %></div>
      <% if item.quantity > 0 %>
        <%= form_with model: item, url: cart_item_path(item), data: { turbo_method: :patch } do |form| %>
          <%= form.hidden_field :meal_id, value: item.meal.id %>
          <%= form.hidden_field :quantity, value: (item.quantity + 1) %>
          <%= form.button type: 'submit', name: nil, class: "counter__button increase", id: "increase" do %>
            <i class="fas fa-caret-right" aria-label="increase"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= form_with url: cart_items_path, id: 'add-to-cart-form' do |form| %>
          <%= form.hidden_field :meal_id, value: meal.id %>
          <%= form.hidden_field :quantity, id: 'cart-item-quantity', value: 1, class: "cart-item-quantity" %>
          <%= form.button type: 'submit', name: nil, class: "counter__button increase", id: "increase" do %>
            <i class="fas fa-caret-right" aria-label="increase"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <p class="pizzeria-menu__item-price">
      <%= number_to_currency(meal.price, precision: 0) %>
    </p>
  </div>
</article>
