<article class="pizzeria-menu__item">
  <div class="pizzeria-menu__item-image">
    <%= image_tag("pizzas/#{meal.title}.webp", alt: "#{meal.title} Pizza") rescue image_tag("pizzas/12.webp", alt: 'Placeholder image') %>
  </div>
  <div class="pizzeria-menu__item-description">
    <p class="pizzeria-menu__item-ingredients">
      <%= meal.ingredients.join(", ") %>
    </p>
    <p class="pizzeria-menu__item-title"><%= meal.title %></p>
    <div class="counter">
      <button class="counter__button" id="decrease"><i class="fas fa-caret-left" aria-label="decrease"></i></button>
      <div class="counter__display" id="count" aria-label="product quantity">0</div>
      <button class="counter__button" id="increase"><i class="fas fa-caret-right" aria-label="increase"></i></button>
    </div>
    <p class="pizzeria-menu__item-price">
      <%= number_to_currency(meal.price, precision: 0) %>
    </p>
    <%= link_to 'Edit', edit_meal_path(meal) %>
    <%= link_to 'Destroy', meal, data: {turbo_method: :delete} %>
  </div>
  <div>
    <p>Price: <%=  %></p>
    <%= form_with url: cart_items_path do |form| %>
      <%= form.hidden_field :meal_id, value: meal.id %>
      <%= form.number_field :quantity, value: 1, min: 1 %>
      <%= form.submit 'Add to Cart' %>
    <% end %></div>
</article>
